# Copia este archivo como ".env" y rellena con los valores de tu proyecto Supabase.
VITE_SUPABASE_URL=https://mswcrxidpkyuuprhocxp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_sWsJfIAjHjGEoHYmSIFZ0w_ZHSRnFCo
